{% extends 'stats_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}<title>Stats</title>{% endblock %}

{% block content2 %}
<script>
    age_dict = {{ age_dict | safe }}
    weight_status_dict = {{ weight_status_dict | safe }}
    blood_groups_dict = {{ blood_groups_dict | safe }}
    genotypes_dict = {{ genotypes_dict | safe }}

    console.log(age_dict)
</script>
<div class="">
    <h1 class="text-center font-weight-bold">Medistat Stats</h1>
    <div class="content">
        <div class="section">
            <div class="section-header">
                <h4>Age Distribution</h4>
            </div>
            <hr>
            <div class="row section-body justify-content-between section-body">
                <canvas id="age-dist" class="col-md-12" height="250">
                </canvas>
            </div>
        </div>
        <div class="section">
            <div class="section-header">
                <h4>Weight Status Distribution</h4>
            </div>
            <hr>
            <div class="row section-body justify-content-between section-body">
                <canvas id="weight-dist" class="col-md-12" height="250">
                </canvas>
            </div>
        </div>
        <div class="section">
            <div class="section-header">
                <h4>Diet Distribution</h4>
            </div>
            <hr>
            <div class="row section-body justify-content-between section-body">
                <canvas id="diet-dist" class="col-md-12" height="250">
                </canvas>
            </div>
        </div>
        <div class="section">
            <div class="section-header">
                <h4>Blood Group Distribution</h4>
            </div>
            <hr>
            <div class="row section-body justify-content-between section-body">
                <canvas id="blood-dist" class="col-md-12" height="250">
                </canvas>
            </div>
        </div>
        <div class="section">
            <div class="section-header">
                <h4>Blood Group Compatibility</h4>
            </div>
            <hr>
            <div class="row section-body justify-content-between blood-dist section-body">
                <div class="text-center">
                    <div class="chart" data-percent="{{ blood_group_matching.aplus|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ blood_group_matching.aplus|default:0 }}%</span>
                    </div>
                    <p>A+</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ blood_group_matching.aminus|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ blood_group_matching.aminus|default:0 }}%</span>
                    </div>
                    <p>A-</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ blood_group_matching.bplus|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ blood_group_matching.bplus|default:0 }}%</span>
                    </div>
                    <p>B+</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ blood_group_matching.bminus|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ blood_group_matching.bminus|default:0 }}%</span>
                    </div>
                    <p>B-</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ blood_group_matching.oplus|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ blood_group_matching.oplus|default:0 }}%</span>
                    </div>
                    <p>O+</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ blood_group_matching.ominus|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ blood_group_matching.ominus|default:0 }}%</span>
                    </div>
                    <p>O-</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ blood_group_matching.abplus|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ blood_group_matching.abplus|default:0 }}%</span>
                    </div>
                    <p>AB+</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ blood_group_matching.abminus|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ blood_group_matching.abminus|default:0 }}%</span>
                    </div>
                    <p>AB-</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-header">
                <h4>Genotype Distribution</h4>
            </div>
            <hr>
            <div class="row section-body justify-content-between">
                <canvas id="genotype-dist" class="" height="250">
                </canvas>
            </div>
        </div>
        <div class="section">
            <div class="section-header">
                <h4>Genotype Compatibility</h4>
            </div>
            <hr>
            <div class="row section-body justify-content-between genotype-dist section-body">
                <div class="text-center">
                    <div class="chart" data-percent="{{ genotype_matching.aa|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ genotype_matching.aa|default:0 }}%</span>
                    </div>
                    <p>AA</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ genotype_matching.as|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ genotype_matching.as|default:0 }}%</span>
                    </div>
                    <p>AS</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ genotype_matching.ac|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ genotype_matching.ac|default:0 }}%</span>
                    </div>
                    <p>AC</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ genotype_matching.ss|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ genotype_matching.ss|default:0 }}%</span>
                    </div>
                    <p>SS</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-header">
                <h4>Pandemics/Diseases</h4>
            </div>
            <hr>
            <div class="row section-body justify-content-between pandemics section-body">
                <div class="text-center">
                    <div class="chart" data-percent="{{ common_diseases.malaria|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ common_diseases.malaria|default:0 }}%</span>
                    </div>
                    <p>Malaria</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ common_diseases.cholera|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ common_diseases.cholera|default:0 }}%</span>
                    </div>
                    <p>Cholera</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ common_diseases.typhoid|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ common_diseases.typhoid|default:0 }}%</span>
                    </div>
                    <p>Typhoid</p>
                </div>
                <div class="text-center">
                    <div class="chart" data-percent="{{ common_diseases.coronavirus|default:0 }}" data-scale-color="transparent">
                        <span class="label">{{ common_diseases.coronavirus|default:0 }}%</span>
                    </div>
                    <p>Coronavirus</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block inline-scripts %}

<script>
    
</script>
<script>
    $(function () {
        $(".chart").easyPieChart({
            // size: 200,
            // scaleColor: "transparent",
            // trackColor: "transparent",
            // barColor: "red"
        })
    })
</script>
{% endblock %}