* {
    margin: 0;
    padding: 0;
}

p, hr {
    margin: 0;
    padding: 0;
}

a {
    font-size: 14px !important;
}

#site-name {
    font-size: 17px;
    letter-spacing: 2.5px;
}

.form-errors p, .error-message {
    font-size: 12px;
    color: red;
}