* {
    margin: 0;
    padding: 0;
}

p, hr {
    margin: 0;
    padding: 0;
}

a {
    font-size: 13px !important;
}

.form-errors p, .error-message {
    font-size: 12px;
    color: red;
}