{% extends 'accounts_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}<title>Sign Up</title>{% endblock %}

{% block content2 %}
<!-- Default form register -->

{% if not form.non_field_errors %}
<div id="prelude" class="">
    <h2 class="col-md-12 text-center">Sign up as</h2>
    <div class="p-4">
        <div class="mb-3">
            <button class="btn btn-primary btn-elegant col-md-12" onclick="showSignUp('user')">A User</button>
        </div>
        <div class="">
            <button class="btn btn-default btn-blue-grey col-md-12" onclick="showSignUp('expert')">An Expert</button>
        </div>
    </div>
</div>
{% endif %}
<div class="{% if not form.non_field_errors %}{% endif %}">
    <form id="signup-form" class="text-center border border-light p-5 d-none" action="#!" method="POST">
        <input id="group" type="hidden" name="group" value="" />
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="form-errors">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
                
        <p class="h4 mb-4">Sign up</p>
        <div class="form-row mb-4">
            <div class="col">
                {% for error in form.first_name.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
                <!-- First name -->
                {% render_field form.first_name id="first_name" class="form-control" placeholder="First name" %}
                <!-- <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name"> -->
            </div>
            <div class="col">
                <!-- Last name -->
                {% for error in form.last_name.errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
                {% render_field form.last_name id="last_name" class="form-control" placeholder="First name" %}
                <!-- <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name"> -->
            </div>
        </div>

        <!-- E-mail -->
        {% for error in form.email.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
        {% render_field form.email id="email" class="form-control mb-4" placeholder="E-mail" %}
        <!-- <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail"> -->

        <!-- Password -->
        {% for error in form.password1.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
        {% render_field form.password1 id="password1" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" %}
        <!-- <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock"> -->
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>

        {% for error in form.password2.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
        {% render_field form.password2 id="password2" class="form-control" placeholder="Retype Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" %}

        <!-- Sign up button -->
        <button class="btn btn-elegant my-4 btn-block" type="submit">Sign Up</button>

        <hr>

        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a>
        </p>

        <!-- Register -->
        <p>Have an account?
            <a href="{% url 'accounts:login' %}">Login</a>
        </p>
    </form>
</div>
<!-- Default form register -->
{% endblock %}

{% block inline-scripts %}
<script>
    function showSignUp(group) {
        $("#group").val(group)
        $("#signup-form").removeClass("d-none")
        $("#prelude").addClass("d-none")
    }
</script>
{% endblock %}

{% block singup %}{% endblock %}