{% extends 'accounts_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}<title>Sign In</title>{% endblock %}

{% block content2 %}
<form class="text-center border border-light p-5" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="form-errors">
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    {% for error in form.username.errors %}
    <p class="error-message">{{ error }}</p>
    {% endfor %}
    {% render_field form.username id="username" class="form-control mb-4" placeholder="E-mail" %}
    <!-- <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail"> -->

    <!-- Password -->
    {% for error in form.password.errors %}
    <p class="error-message">{{ error }}</p>
    {% endfor %}
    {% render_field form.password id="password" class="form-control mb-4" placeholder="Password" %}
    <!-- <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password"> -->

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
        <a href="{% url 'accounts:signup' %}">Register</a>
    </p>
</form>
{% endblock %}