{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'stats/css/style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block stats_active %}active{% endblock %}

{% block content%}

{% block content2 %}{% endblock %}

{% endblock %}

{% block scripts %}
<script src="{% static 'stats/js/script.js' %}"></script>
<script src="{% static 'assets/easy-pie-chart-master/jquery.easypiechart.js' %}"></script>
{% endblock %}