{% extends 'patients_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}<title>Edit {{ patient }}</title>{% endblock %}

{% block content2 %}
<div class="">
    <h1 class="text-center">{{ patient }}</h1>
    <hr>
    <div class="content">
        <form class="p-5 col-md-8 mx-auto" method="POST">
            {% csrf_token %}
            <!-- Gender -->
            <div class="">
                {% render_field form.gender.label %}
                {% render_field form.gender id="gender" class="form-control mb-4" %}
            </div>

            <!-- DOB -->
            <div class="">
                {% render_field form.dob.label %}
                {% render_field form.dob id="dob" class="form-control mb-4" %}
            </div>

            <!-- Blood Group -->
            <div class="">
                {% render_field form.blood_group.label %}
                {% render_field form.blood_group id="blood_group" class="form-control mb-4" %}
            </div>
            
            <!-- Genotype -->
            <div class="">
                {% render_field form.genotype.label %}
                {% render_field form.genotype id="genotype" class="form-control mb-4" %}
            </div>

            <!-- Height -->
            <div class="">
                {% render_field form.height.label %}
                {% render_field form.height id="height" class="form-control mb-4" %}
            </div>
        
            <!-- Weight  -->
            <div class="">
                {% render_field form.weight.label %}
                {% render_field form.weight id="weight" class="form-control mb-4" %}
            </div>

            <button class="btn btn-elegant btn-block" type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}